html, body {
    margin: 0;
    padding: 0;
}

body {
    background:
        linear-gradient(217deg, #dad7cd, rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, #a3b18a, rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, #588157, rgba(0, 0, 255, 0) 70.71%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#app {
    color: #2f3e46;
}

.target-txt {
    color: #52796f;
}

.el-w-scroll::-webkit-scrollbar {
    width: 0.25rem; /* ширина scrollbar */
}

.el-w-scroll::-webkit-scrollbar-track {
    background: transparent; /* цвет дорожки */
}

.el-w-scroll::-webkit-scrollbar-thumb {
    background-color: #52796f; /* цвет плашки */
    border-radius:  15px; /* закругления плашки */
    border: 3px solid transparent; /* padding вокруг плашки */
}
